<div class="wrapper">
    <app-navbar>  
    </app-navbar>
     <!-- Content Wrapper. Contains page content -->
     <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <p-chart type="bar" [options]="basicOptions" [data]="data2"></p-chart>
                    <button type="button" pButton (click)="update($event)">Actualizar</button>                    
                </div>
                    <!-- /.col-md-6 -->
                </div>
            
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
        <!-- /.content-wrapper -->
    </div>
  </div>